p {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;

}

th{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 25px;

}

body{
    background-color: purple;
    color: white;
}
img{
    border-width: 5px;
    border-style: dashed;
    border-color: #1E8BB3;
}

table{
    border-width: 5px;
    border-style: dashed;
    border-color: #1E8BB3;
}

